
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(9, 139, 139);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

section {
    background-color: rgb(43, 40, 40);
    width: 100%; 
    max-width: 700px; 
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    color: white;
}

section h1 {
    padding: 10px;
}

img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
    border: 5px solid rgb(9, 139, 139);
}

#project a {
    display: block;
    text-decoration: none;
    margin: 10px;
    font-size: 15px;
    color: white;
    border: 2px solid  rgb(9, 139, 139);
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

#project a:hover {
    background-color: rgb(26, 23, 23);
    color: rgb(109, 94, 94);
}

#project02 a {
    color: white;
    padding: 10px;
}

#project02 {
    margin-top: 25px;
}

.bi {
    font-size: 26px;
}

@media screen and (max-width: 600px) {
    body {
        align-items: center; 
        justify-content: center; 
        display: flex; 
        min-height: 100vh; 
    }

    section {
        border-radius: 10px; 
        width: calc(100% - 40px); 
        max-width: 700px; 
        margin-top: auto; 
        margin-bottom: auto; 
        padding: 20px;
        color: white;
    }

    img {
        width: 150px; 
        height: 150px;
    }

    #project a {
        font-size: 14px; 
        padding: 8px 16px; 
    }

    #project02 a {
        padding: 8px; 
    }
}
